/* CSS reset */
*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    }

div.main-title{
    background-color: red;
    text-align: center;
    padding: 25px;
}

div.main-title h1{
    color: white;
    padding: 20px;
    border: white 5px solid;
    display: inline-block;
    border-radius: 25px;
}

nav.nav-links{
    background-color: grey;
    text-align: center;
    padding: 10px;
    color
}

nav.nav-links a{
    margin: 125px;
    color: white;
}

div.image-container img{
    width: 100%;
    border-bottom: 10px red solid;
}

div.title h1{
    color: red;
    text-align: center;
    padding: 5px;
    font-size: 40px;
}

div.title p{
    text-align: justify;
    padding-bottom: 25px;
    margin: 20px 100px 20px 100px;
    line-height: 50px;
    font-size: larger;
    font-size: 30px;
}

footer{
    text-align: center;
    padding-top: 15px;
    background-color: grey;
    color: white;
    font-weight:900;
    padding-bottom: 15px;
    font-size: 20px;
}
nav.nav-links a.class-links:hover{
    color: red;
}

nav.nav-links a.freind-links:hover{
    color: red;
}

nav.nav-links a.gallery-links:hover{
    color: red;
}

nav.nav-links a.contact-links:hover{
    color: red;
}


div.characters{
    background-color: lightgrey;
    border-radius: 25px;
    text-align: center;
    margin: 50px 70px;
    padding-top: 10px;

}

div.characters h4{
    text-align: center;
    color: red;
    font-size: 30px;
}

div.gallery{
    text-align: center;
    color: red;
    padding-top: 20px;
}
div.image-collection{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    color: red;
    border-color: red;
}

img.thumb-1{
    margin: 10px;
    border-bottom:  10px red solid;
}

div.container{
    position: relative;
}

div.child{
    width: 450px;
    height: 430px;
    background-color: lightgrey;
    position: absolute;
    left: 100px;
    bottom: 100px;
    border-radius: 30px;
}

form{
    margin-left: 10px;
    position: absolute;
    top: 60px;
    left: 10px;;
}
input{
    font-size: 27px;
}

input.inner{
    color: white;
    background-color: red;
    padding: 10px 10px;
}

textarea{
    font-size: 30px;
}





